<div id="main">
 <h3> EDIT PLAYLIST </h3>
  <div>
    <%= form_for(@playlist) do |f| %>
      <table>
        <tr>
          <td> <%= f.label 'Playlist Name: '%> </td> 
          <td> <%= f.text_field :name %> </td> 
        </tr>
        <tr>
          <td> 
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= f.submit "Edit Playlist", class: "btn btn-info" %>
          </td>
        </tr>

      </table>
    <% end %>
  </div>
</div>